header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #4caf50;
    color: white;
}

logo {
    justify-content: left;
}

nav {
    display: flex;
    gap: 1rem;
}

a {
    color: white;
}

.icon {
    font-size: 40px;
}