header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #4caf50;
  color: white;
}

.header-title {
  font-size: clamp(1.5rem, 4vw, 2rem);
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 1rem;

  // Bei Smartphones Navigations-Links untereinander anordnen:
  @media (max-width: 48rem) {
    flex-direction: column;
    gap: 0.4rem;
    font-size: 0.9rem;
  }
}

a {
  color: white;
}

.icon {
  font-size: 4rem;
}
