.food-preview-card-container {
  border: 1px solid black;
  border-radius: 20px;
  background-color: #4cae50;
  display: flex;
  height: 80%;
  margin: 1%;
  padding: 5%;
}

.food-preview-card-image-container {
  width: 40%;
  max-height: 100%;
  display: flex;
}

.food-preview-card-image {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.food-preview-card-text-container {
  margin: 2%;
  width: 60%;
  max-height: 100%;
}

.food-preview-card-text-header {
  font-size: clamp(0.9rem, 4vw, 1.2rem);
}

.food-preview-card-text {
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  overflow-wrap: break-word;
}

.food-preview-card-text-missing {
  font-size: clamp(0.9rem, 2vw, 1.1rem);
  color: rgba(0, 0, 0, 0.6);
}
