<h2>{{ isEditMode ? 'Lebensmittel bearbeiten' : 'Lebensmittel hinzufügen' }}</h2>

<div class="dialog-wrapper" (click)="closeSuggestions()">

    <mat-card class="form">

        <!-- Suche -->
        <mat-form-field appearance="outline">
            <mat-label>Lebensmittel</mat-label>

            <input matInput [(ngModel)]="searchText" name="searchText" required (ngModelChange)="onSearch()"
                (click)="$event.stopPropagation()" />
        </mat-form-field>

        @if(filteredFoods.length > 0) {
        <mat-card class="search-results" (click)="$event.stopPropagation()">
            @for(food of filteredFoods; track food.id) {
            <button mat-button type="button" (click)="selectFood(food)">
                {{ food.name }}
            </button>
            }
        </mat-card>
        }

        <div class="api-toggle">
            <mat-checkbox [(ngModel)]="useApiSearch">
                OpenFoodFacts durchsuchen
            </mat-checkbox>
        </div>

        <mat-form-field appearance="outline">
            <mat-label>Barcode</mat-label>

            <input matInput [(ngModel)]="barcode" placeholder="z.B. 3274080005003" (click)="$event.stopPropagation()">
        </mat-form-field>

        <button class="loadingButton" mat-stroked-button type="button"
            (click)="searchBarcode(); $event.stopPropagation()">
            Produkt laden
        </button>

        <!-- Menge -->
        <mat-form-field appearance="outline">
            <mat-label>Menge</mat-label>
            <input matInput type="number" [(ngModel)]="quantity" name="quantity" required min="1" />
        </mat-form-field>

        <!-- Einheit -->
        <mat-form-field appearance="outline">
            <mat-label>Einheit</mat-label>

            <mat-select [(ngModel)]="unit">
                <mat-option value="Stück">Stück</mat-option>
                <mat-option value="g">Gramm</mat-option>
                <mat-option value="kg">Kilogramm</mat-option>
                <mat-option value="ml">Milliliter</mat-option>
                <mat-option value="l">Liter</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Datum -->
        <mat-form-field appearance="outline">
            <mat-label>Einlagerungsdatum</mat-label>

            <input matInput [matDatepicker]="picker" [(ngModel)]="restockDate">

            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Ablaufdatum</mat-label>

            <input matInput [matDatepicker]="expiryPicker" [(ngModel)]="expiryDate">

            <mat-datepicker-toggle matIconSuffix [for]="expiryPicker"></mat-datepicker-toggle>
            <mat-datepicker #expiryPicker></mat-datepicker>
        </mat-form-field>

        <!-- Buttons -->
        <div class="actions" (click)="$event.stopPropagation()">
            <button mat-stroked-button type="button" (click)="cancel()">
                Abbrechen
            </button>

            <button mat-raised-button color="primary" type="button" (click)="save()">
                Speichern
            </button>
        </div>

    </mat-card>

</div>