.home {
  display: flex;
  padding: 10px;
}

.home-main {
  // border: 2px solid red;
  display: grid;
  width: 75%;
  margin-top: 10px;
  border-radius: 20px;
}

.welcome {
  // border: 2px solid blue;
  margin: 10px;
  padding: 15px;
  border-radius: 20px;
  background-color: rgb(211 211 211 / 0.50);
}

.welcome-text {
  // border: 2px solid red;
  font-size: 1.1rem;
  overflow-wrap: break-word;
}

.motivation {
  // border: 2px solid blue;
  margin: 10px;
  padding: 15px;
  border-radius: 20px;
  background-color: rgb(211 211 211 / 0.50);
}

.motivation-text {
  // border: 2px solid red;
  font-size: 1.1rem;
  overflow-wrap: break-word;
}

.seasonal-food-preview {
  // border: 2px solid blue;
  max-height: 100%;
  margin: 10px;
  padding: 15px;
  border-radius: 20px;
  background-color: rgb(211 211 211 / 0.50);
}

.seasonal-food-preview-card-container {
  // border: 2px solid red;
  display: flex;
  justify-content: center;
  max-height: 100%;
}

.pantry-preview {
  // border: 2px solid blue;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 25%;
  background-color: rgb(211 211 211 / 0.50);
}

.pantry-preview-header-container {
  // border: 2px solid red;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}

.pantry-preview-text {
  // border: 2px solid red;
  font-size: 1.1rem;
  // overflow-wrap: break-word;
}

.pantry-preview-list-container {
  // border: 2px solid red;
  margin: 10px;
  border-radius: 20px;
  font-size: 140%;
}

.pantry-preview-button-container {
  border: 2px solid red;
  display: grid;
  margin-top: 100%;
}

.pantry-list-button {
  border: 2px solid red;
  border-radius: 20px;
  min-height: 50px;
  margin: 10px;
}

.add-purchases-button {
  border: 2px solid red;
  border-radius: 20px;
  min-height: 50px;
  margin: 10px;
}
