<body class="home">
  <div class="home-main">
    <article class="welcome">
      <h1 class="welcome-header">Herzlich Willkommen!</h1>
      <p class="welcome-text">
        Willkommen auf deiner Plattform für bewussten Lebensmittelkonsum!<br>
        Hier erfährst du auf einen Blick, welche Lebensmittel aktuell Saison haben und kannst deine
        Einkäufe ganz einfach in einer digitalen Vorratsliste verwalten. So behältst du nicht nur
        den Überblick über deine Vorräte, sondern auch über deren Haltbarkeitsdaten – und kannst
        rechtzeitig nutzen, was bereits vorhanden ist.<br>
        Unser Ziel ist es, dich dabei zu unterstützen, Lebensmittelverschwendung
        nachhaltig zu reduzieren. Mit saisonalen Empfehlungen und smarter Organisation wird es
        einfacher, bewusster einzukaufen, effizienter zu planen und wertvolle Ressourcen zu schonen.
        Mach den nächsten Schritt zu einem nachhaltigeren Alltag – ganz ohne großen Aufwand.
      </p>
    </article>

    <article class="motivation">
      <h1 class="motivation-header">Warum saisonale Lebensmittel?</h1>
      <p class="motivation-text">
        Saisonale Lebensmittel bewusst zu wählen bedeutet mehr als nur frische Zutaten einzukaufen –
        es ist ein aktiver Beitrag zu einem nachhaltigeren Umgang mit unseren Ressourcen. Obst und
        Gemüse, das gerade Saison hat, wird in der Regel regional angebaut, benötigt weniger
        Transport- und Lageraufwand und bleibt länger frisch. Das wirkt sich nicht nur positiv auf
        Geschmack und Nährstoffgehalt aus, sondern hilft auch dabei, Lebensmittelabfälle zu
        reduzieren. Denn frische, saisonale Produkte verderben weniger schnell und lassen sich
        besser in den Alltag integrieren.<br>
        Wer saisonal einkauft, plant automatisch bewusster:
        Man orientiert sich an dem, was verfügbar ist, statt an spontanen, oft überflüssigen Käufen.
        Dadurch sinkt die Wahrscheinlichkeit, dass Lebensmittel ungenutzt im Vorrat landen und
        schließlich entsorgt werden müssen. Mit der Entscheidung für saisonale und regionale
        Produkte unterstützt du nicht nur die Umwelt, sondern entwickelst auch ein nachhaltigeres
        Konsumverhalten – einfach, effektiv und ohne Verzicht.
      </p>
    </article>

    <!-- Vorschau von 3 zufälligen, aktuell saisonalen Lebensmitteln: -->
    <div class="seasonal-food-preview">
      <h1 class="seasonal-food-preview-header">Was hat gerade Saison?</h1>
      <div class="seasonal-food-preview-card-container">
        @for (food of previewFoods; track food.id) {
          <app-food-preview-card [foodName]=food.name [imageUrl]=food.imageUrl [previewText]=food.previewText></app-food-preview-card>
        }
      </div>
    </div>
  </div>

  <!-- Vorratskammer-Vorschau auf der rechten Seite: -->
  <div class="pantry-preview">
    <header class="pantry-preview-header-container">
      <h1 class="pantry-preview-header">Meine Vorräte:</h1>
      <p class="pantry-preview-text">
        Diese Lebensmittel aus deiner Vorratskammer sollten bald verwertet werden, da sie demnächst ablaufen:
      </p>
    </header>

    <!-- Liste der bald ablaufenden Lebensmittel: -->
    <div class="pantry-preview-card-list-container">
      @if (expiringPantryItems.length > 0) {
        @for (item of expiringPantryItems; track item.id) {
          <app-pantry-preview-card [pantryItemName]=item.food.name [expiryDate]=item.expiryDate ></app-pantry-preview-card>
        }
      } @else {
        <app-pantry-preview-card [pantryItemName]="'Keine ablaufenden Lebensmittel vorhanden.'" ></app-pantry-preview-card>
      }
    </div>

    <!-- Pantry Preview Buttons: -->
    <div class="pantry-preview-button-container">

      <button class="add-purchases-button" mat-raised-button (click)="openPantryDialog()">
        <mat-icon>playlist_add</mat-icon>
        Einkäufe hinzufügen
      </button>

      <a class="pantry-list-link-button" mat-raised-button routerLink="/pantry" >
        <mat-icon>list</mat-icon>
        Zur Vorratskammer
      </a>

    </div>
  </div>
</body>
