.home {
  display: flex;
  padding: 1%;
}

.home-main {
  // border: 2px solid red;
  display: grid;
  width: 75%;
  border-radius: 20px;
}

.welcome {
  // border: 2px solid blue;
  margin: 1%;
  padding: 1%;
  border-radius: 20px;
  background-color: rgb(211 211 211 / 0.50);
}

.welcome-text {
  // border: 2px solid red;
  font-size: 1.1rem;
  overflow-wrap: break-word;
}

.motivation {
  // border: 2px solid blue;
  margin: 1%;
  padding: 1%;
  border-radius: 20px;
  background-color: rgb(211 211 211 / 0.50);
}

.motivation-text {
  // border: 2px solid red;
  font-size: 1.1rem;
  overflow-wrap: break-word;
}

.seasonal-food-preview {
  // border: 2px solid blue;
  max-height: 100%;
  margin: 1%;
  padding: 1%;
  border-radius: 20px;
  background-color: rgb(211 211 211 / 0.50);
}

.seasonal-food-preview-card-container {
  // border: 2px solid red;
  display: flex;
  justify-content: center;
  max-height: 100%;
}

.pantry-preview {
  // border: 2px solid blue;
  border-radius: 20px;
  margin-top: 0.8%;
  margin-bottom: 1%;
  margin-right: 1%;
  width: 25%;
  max-height: 100%;
  background-color: rgb(211 211 211 / 0.50);
}

.pantry-preview-header-container {
  // border: 2px solid red;
  margin: 2%;
  padding: 2%;
  height: 15%;
}

.pantry-preview-header {
  font-size: 1.5rem;
}

.pantry-preview-text {
  // border: 2px solid red;
  font-size: 1.1rem;
  // overflow-wrap: break-word;
}

.pantry-preview-card-list-container {
  border: 2px solid green;
  margin: 2%;
  border-radius: 20px;
  height: 60%;
}

.pantry-preview-button-container {
  // border: 2px solid red;
  display: grid;
  height: 15%;
}

// TODO: Hier wird das Main-Theme (Farbe) überschrieben. Noch ändern?
:host .pantry-list-link-button {
  display: flex;
  border-radius: 20px;
  height: 80%;
  margin: 2%;
  font-size: 1rem;
  color: black;
}

// TODO: Hier wird das Main-Theme (Farbe) überschrieben. Noch ändern?
:host .add-purchases-button {
  border-radius: 20px;
  height: 80%;
  margin: 2%;
  font-size: 1rem;
  color: black;
}
