.pantry-preview-card-container {
  border: 2px solid red;
  border-radius: 20px;
  display: flex;
  margin: 1%;
  height: 100px;
}

.pantry-preview-item-name {

}

.pantry-preview-shelf-days-left {

}

.pantry-preview-shelf-days-left-missing {

}
